
.menuContentRight{
    flex:1 1 auto;
}
.mat-toolbar{
    font-family: 'Lato',sans-serif;
    font-size: 15px;
    font-weight: bolder;
    min-height: 70px;
    background: #272727;
        .mat-primary{
        color:#FFE400;  
    }
    padding: 0px;
}



