<div class="footer" fxLayout="row">
    <div class="footer-nav" fxFlex="50">
        <mat-list>
            <mat-list-item>
                <a mat-button color="accent" routerLink="home"> HOME </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-button color="accent"  routerLink="aboutus"> ABOUT </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-button color="accent"  routerLink="menu"> MENU </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-button color="accent"  routerLink="contactus"> CONTACT </a>
            </mat-list-item>
        </mat-list>
    </div>
    <div fxFlex="50" class="social-links">
        <h3 style="font-size: x-large;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Connect with us:</h3>
        <a mat-icon-button class="facebook-btn" color="primary"><i class="fa fa-facebook fa-lg"></i></a>
        <a mat-icon-button class="instagram-btn" color="primary"><i class="fa fa-instagram fa-lg"></i></a>
        <a mat-icon-button class="youtube-btn" color="primary"><i class="fa fa-youtube fa-lg"></i></a>
        <a mat-icon-button class="twitter-btn" color="primary"><i class="fa fa-twitter fa-lg"></i></a>
        <a mat-icon-button class="google-btn" color="primary"><i class="fa fa-google fa-lg"></i></a>
        <a mat-icon-button class="linkedin-btn" color="primary"><i class="fa fa-linkedin fa-lg"></i></a> 
    </div>

        
</div>