.footer{
    background-color: #272727;
}

.mat-list{
    .mat-list-item{
        font-family: 'Lato',sans-serif;
        font-size: 15px;
        font-weight: bolder;
        height: 55px;
        .mat-accent{
            color:#FFE400;  
        }
    }
}
.footer-nav{
    padding-left: 20%;
}

.social-links{
    color: white;
    font-size: 15px;
    margin-top: 20px;
    font-family:  'Lato',sans-serif;
    font-weight: bolder;
}
.facebook-btn {
    background: #3B5998;
    color: white;
    margin-right: 5px;
}
  
.twitter-btn{
    background: #55ACEE;
    color: white;
    margin-right: 5px;
}

.google-btn {
    background: #dd4b39;
    color: white;
    margin-right: 5px;
}

.linkedin-btn {
    background: #007bb5;
    color: white;
    margin-right: 5px;
}

.youtube-btn {
    background: #bb0000;
    color: white;
    margin-right: 5px;
}

.instagram-btn {
    background: #e4405f;
    color: white;
    margin-right: 5px;
}
