h2{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;;
}

.checked{
    color: orange;
}

h3{
    padding-top: 8px;
    font-size: 20px;
}

h4{
    line-height: 1.3;
    font-family: 'Amiri', serif;

}

.star{
    line-height: 1.4;
}

.dishDesc{
    font-family:'Roboto', sans-serif;
}

.author{
    font-family: 'Lora', serif;
}

.responsive{
    width: 100%;
    height: auto;
}