
.ourStory{
    width: 80%;
    max-width: 950px;
    padding-left: 10%;
    max-height:300px ;
    height: auto;
}

h1{
    font-family:'Fredoka One', cursive;
    font-weight: lighter;

}

.para, .mat-card-header, .chef-desc{
    font-family: 'Alegreya', serif;
}

.mat-card-title{
    padding-left: 15%;
}

.image{
    width: 77%;
    height: auto;
    max-width: 400px;
    max-height: 350px;
}

.mat-card-header{

    justify-content: center;
}

.aboutUs{
    margin: 10px;
}


@media(max-width:500px){
    h1{
        font-size: 20px;
    }
    .para{
        border: 2px solid grey;
        margin: 10px;
        padding: 0px 5px;
    }
   
}

@media(min-width:501px) and (max-width:1000px){
    h1{
        font-size: 30px;
        padding-top: 20px;
    }
    .para{
        border: 2px solid grey;
        margin: 15px;
        padding: 0px 15px;
    }
}
@media(min-width:1001px){
    h1{
        font-size: 40px;
    }
    .para{
        border: 2px solid grey;
        margin: 10px 20%;
        padding: 10px;
    }
}
