<div>
    <div class="aboutUs">
            <img class="ourStory" src="../../assets/team/ourstory2.jpg" alt="Our Story">
        <div class="para">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              At 'Love Eat’, we’re tied in with presenting crisp food, regardless of whether it implies going the additional mile. When you stroll tbough our entryways, we do what we can to make everybody feel comfortable in light of the fact that our family stretches out through your locale.
            ‘Love Eat’ is an organization that is continually developing. 
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Today, we can be found in numerous nations and have our sights on extending much more. Be that as it may, regardless of where you discover us, quality will dependably be our formula.
                Our menu highlights things that utilization the sound and fragrant flavors, however forgets the stuffing ghee, spread, oil, and overwhelming cream.
                We Believe in Quality. All around. Quality food can’t be made without quality initiative.
            </p>
        </div>

    </div>

    <h1 style="text-align:center;padding-top: 20px;">OUR TEAM</h1>

    <div class="container">
        <div class="flex-container" fxLayout="row" fxLayout.xs="column">
            <mat-card fxFlex="25" *ngFor="let people of ourpeople">
                <mat-card-header>
                    <mat-card-title><strong>{{people.name}}</strong></mat-card-title>
                    <mat-card-subtitle>{{people.position}}</mat-card-subtitle>
                </mat-card-header>
                <div style="text-align: center;">
                    <img class="image" src={{people.image}}  alt={{people.name}}>
                </div>
                <mat-card-content>
                    <p class="chef-desc"> {{people.description}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        
        
    </div>
</div>
