.login{
    color: white;
    background-color: blue;
}

.mat-toolbar{
    background-color: #D3D3D3!important;
}

h2{
    padding-left: 40%;
}

.form-container{
    padding-top: 7%;
    text-align: center;
}

.remember{
    padding-left: 27%;
}

.dialog-box{
    
}