<mat-toolbar color="primary">
    <h2>Login</h2>
    <span class="space"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <p>
            <mat-form-field>
                <input matInput type="text" name="username" placeholder="Username" [(ngModel)]="user.username"  #username="ngModel" required>
                <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput type="password" name="password" [(ngModel)]="user.password" placeholder="Password" #password="ngModel" required>
                <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-checkbox [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>

        </p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <span class="space"></span>
        <button mat-button mat-dialog-close>Cancel</button>
        <button type="submit" class="login" mat-button [disabled]="loginForm.form.invalid">Login</button>
    </mat-dialog-actions>
</form>

