<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="assets/img-1.jpg" height="500px" alt="slide-1"></ng-template>  
    <ng-template carouselSlide><img src="assets/logo.jpg" height="500px" alt="slide-1"></ng-template>  
    <ng-template carouselSlide><img src="assets/img-1.jpg" height="500px" alt="slide-1"></ng-template>  
    <ng-template carouselSlide><img src="assets/logo.jpg" height="500px" alt="slide-1"></ng-template>  
    <ng-template carouselSlide><img src="assets/img-1.jpg" height="500px" alt="slide-1"></ng-template> 
  </owl-carousel-o>